@import url("gtk-widgets.css.common");

.menuitem GtkCalendar,
.menuitem GtkCalendar.button,
.menuitem GtkCalendar.header,
.menuitem GtkCalendar.view {
/*    background-color: @menu_bg_color; */
	background-color: shade(@theme_bg_dark_color, 0.82);
    background-image: none;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px;
    padding: 0px;

    color: @theme_base_color;
}

