@import url("gtk-widgets-assets.css.common");

GtkScale.slider,
GtkScale.slider.horizontal {
    background-image: url("assets/scale-slider-hor-dark.svg");
}

.menuitem GtkScale.slider.horizontal,
.primary-toolbar .toolbar GtkScale.slider.horizontal,
.primary-toolbar.toolbar GtkScale.slider.horizontal,
.toolbar.menubar GtkScale.slider.horizontal {
    background-image: url("assets/scale-slider-hor.svg");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-horz-insensitive-dark.png");
}

GtkScale.slider.vertical {
    background-image: url("assets/scale-slider-ver-dark.svg");
}

.menuitem GtkScale.slider.vertical,
.primary-toolbar .toolbar GtkScale.slider.vertical,
.primary-toolbar.toolbar GtkScale.slider.vertical,
.toolbar.menubar GtkScale.slider.vertical {
    background-image: url("assets/scale-slider-ver.svg");
}

GtkScale.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-vert-insensitive-dark.png");
}


GtkScale.scale-has-marks-above.slider.horizontal {
    background-image: url("assets/scale-slider-up-dark.png");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-up-insensitive-dark.png");
}

GtkScale.scale-has-marks-above.slider.vertical {
    background-image: url("assets/scale-slider-left-dark.png");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-left-insensitive-dark.png");
}


GtkScale.scale-has-marks-below.slider.horizontal {
    background-image: url("assets/scale-slider-down-dark.png");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
    background-image: url("assets/scale-slider-down-insensitive-dark.png");
}

GtkScale.scale-has-marks-below.slider.vertical {
    background-image: url("assets/scale-slider-right-dark.png");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
    background-image: url("assets/scale-slider-right-insensitive-dark.png");
}

.menu GtkSwitch.trough,
.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough,
GtkSwitch.trough,
GtkSwitch.trough:backdrop {
    border: none;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
    background-image: url("assets/switch-dark-off.svg");
    background-size: 56px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: none;
}

GtkSwitch.trough {
    background-image: url("assets/switch-dark-off.svg");
}

GtkSwitch.trough:active {
    background-image: url("assets/switch-dark-on.svg");
}

GtkSwitch.trough:insensitive {
    background-image: url("assets/switch-dark-off-disabled.svg");
}

GtkSwitch.trough:active:insensitive {
    background-image: url("assets/switch-dark-on-disabled.svg");
}

.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough {
    background-image: url("assets/switch-off.svg");
}

.toolbar.menubar GtkSwitch.trough:active,
.primary-toolbar .toolbar GtkSwitch.trough:active,
.primary-toolbar.toolbar GtkSwitch.trough:active {
    background-image: url("assets/switch-on.svg");
}

.toolbar.menubar GtkSwitch.trough:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:insensitive {
    background-image: url("assets/switch-off-disabled.svg");
}

.toolbar.menubar GtkSwitch.trough:active:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:active:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:active:insensitive {
    background-image: url("assets/switch-on-disabled.svg");
}
