/*****************************
   gnome-shell apps settings
******************************/

TerminalWindow .notebook tab {
    padding: 2px 4px;

    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 0.94)),
                                     to(shade($theme_bg_dark_color, 0.92)));
    border-width: 1px;
    border-style: solid;
    border-image: none;

    border-top-color:         shade($theme_bg_dark_color, 0.78);
    border-left-color:         $theme_mdi_border_color;
    border-right-color:     $theme_mdi_border_color;
    border-bottom-color:     $theme_mdi_border_color;

    box-shadow:    inset  0px  1px $theme_highlight_color,
                inset  1px  0px $theme_highlight_color,
                inset -1px  0px $theme_highlight_color;
}

GeditWindow GtkPaned {
    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 0.88)),
                                     to(shade($theme_bg_dark_color, 0.80)));

    box-shadow:    inset  0px  2px shade($theme_highlight_color, 0.95),
                inset  0px  1px shade($theme_bg_dark_color, 0.74);

}

GeditWindow .notebook tab {
    padding: 2px 4px;

    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 0.88)),
                                     to(shade($theme_bg_dark_color, 0.86)));

    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-top-color:         shade($theme_mdi_border_color, 0.90);
    border-left-color:         shade($theme_mdi_border_color, 0.90);
    border-right-color:     shade($theme_mdi_border_color, 0.90);
    border-bottom-color:     shade($theme_mdi_border_color, 0.90);
    border-image: none;

    box-shadow:    inset  0px  1px alpha(#fff, 0.07),
                inset  1px  0px alpha(#fff, 0.07),
                inset -1px  0px alpha(#fff, 0.07);
}

GeditWindow .notebook tab:active {
    background-image: -gtk-gradient(linear,
                     left top, left bottom,
                     from(shade($button_raised_gradient_color_b, 0.85)),
                     to(shade($button_raised_gradient_color_a, 0.77)));
}

NemoWindow .menubar,
RemminaMain .menubar,
YelpWindow .menubar,
EvWindow .menubar,
Totem .menubar,
FrWindow .menubar,
EogWindow .menubar,
GeditWindow .menubar,
TerminalWindow .menubar {
    /* linea 3D  (oscura)
    box-shadow: inset  0px -1px shade($theme_bg_dark_color, 0.77);*/

    /* linea 3D (clara)
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-radius: 0px;
    border-bottom-color:  shade($theme_highlight_color, 0.97); */

    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 1.00)),
                                     to(shade($theme_bg_dark_color, 0.94)));
}

NemoWindow .primary-toolbar.toolbar,
RemminaMain .toolbar,
FrWindow .primary-toolbar.toolbar,
EvWindow .primary-toolbar .toolbar,
EogWindow .primary-toolbar .toolbar,
GeditWindow .primary-toolbar.toolbar {

    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 0.94)),
                                     to(shade($theme_bg_dark_color, 0.88)));

    border-bottom-color:  shade($theme_bg_dark_color, 0.70);
    border-image: none;
}

YelpWindow .menubar {
    box-shadow: none;
    border-bottom-color:   shade($theme_bg_dark_color, 0.70);
}

TerminalWindow .menubar,
GeditWindow .primary-toolbar.toolbar {
    /* linea 3D  (oscura) */
    /* box-shadow: inset  0px -1px shade($theme_bg_dark_color, 0.33); */
    box-shadow: none;

    /* linea 3D (clara) */
    /* border-bottom-color:  shade($theme_bg_dark_color, 0.56);  */
    border-bottom-width: 0px;

}
