@import '../../../MediterraneanCommon/gtk-3.0/gtk-widgets-assets';

GtkScale.slider,
GtkScale.slider.horizontal,
GtkScale.slider.horizontal:hover {
    background-image: url("../assets/scale-slider-hor.svg");
}

GtkScale.slider:insensitive,
GtkScale.slider.horizontal:insensitive {
    background-image: url("../assets/scale-slider-insensitive-hor.svg");
}

GtkScale.slider.vertical {
    background-image: url("../assets/scale-slider-ver.svg");
}

GtkScale.slider.vertical:insensitive {
    background-image: url("../assets/scale-slider-insensitive-ver.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal,
GtkScale.scale-has-marks-above.slider.horizontal:hover {
    background-image: url("../assets/scale-slider-marks-above-horizontal.svg");
}

GtkScale.scale-has-marks-above.slider.horizontal:insensitive {
    background-image: url("../assets/scale-slider-marks-above-horizontal-insensitive.svg");
}

GtkScale.scale-has-marks-above.slider.vertical {
    background-image: url("../assets/scale-slider-marks-above-vertical.svg");
}

GtkScale.scale-has-marks-above.slider.vertical:insensitive {
    background-image: url("../assets/scale-slider-marks-above-vertical-insensitive.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal,
GtkScale.scale-has-marks-below.slider.horizontal:hover {
    background-image: url("../assets/scale-slider-marks-below-horizontal.svg");
}

GtkScale.scale-has-marks-below.slider.horizontal:insensitive {
    background-image: url("../assets/scale-slider-marks-below-horizontal-insensitive.svg");
}

GtkScale.scale-has-marks-below.slider.vertical {
    background-image: url("../assets/scale-slider-marks-below-vertical.svg");
}

GtkScale.scale-has-marks-below.slider.vertical:insensitive {
    background-image: url("../assets/scale-slider-marks-below-vertical-insensitive.svg");
}

.menu GtkSwitch.trough,
.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough,
GtkSwitch.trough,
GtkSwitch.trough:backdrop {
    border: none;
    border-width: 0px;
    border-image: none;
    background: none;
    color: transparent;
    box-shadow: none;
    background-image: url("../assets/switch-off.svg");
    background-size: 56px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: none;
}

GtkSwitch.trough {
    background-image: url("../assets/switch-off.svg");
}

GtkSwitch.trough:active {
    background-image: url("../assets/switch-on.svg");
}

GtkSwitch.trough:insensitive {
    background-image: url("../assets/switch-off-disabled.svg");
}

GtkSwitch.trough:active:insensitive {
    background-image: url("../assets/switch-on-disabled.svg");
}

.toolbar.menubar GtkSwitch.trough,
.primary-toolbar .toolbar GtkSwitch.trough,
.primary-toolbar.toolbar GtkSwitch.trough {
    background-image: url("../assets/switch-off.svg");
}

.toolbar.menubar GtkSwitch.trough:active,
.primary-toolbar .toolbar GtkSwitch.trough:active,
.primary-toolbar.toolbar GtkSwitch.trough:active {
    background-image: url("../assets/switch-on.svg");
}

.toolbar.menubar GtkSwitch.trough:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:insensitive {
    background-image: url("../assets/switch-off-disabled.svg");
}

.toolbar.menubar GtkSwitch.trough:active:insensitive,
.primary-toolbar .toolbar GtkSwitch.trough:active:insensitive,
.primary-toolbar.toolbar GtkSwitch.trough:active:insensitive {
    background-image: url("../assets/switch-on-disabled.svg");
}
