/***************************
 * menu MediterraneanNight *
 *
 ***************************/
// $menu_bg_dark_color: $menu_bg_color;
// $menu_fg_dark_color: $menu_fg_color;
// $menu_shadow_dark_color: $theme_shadow_color;

GtkComboBox .menu,
.toolbar .menu,
.menu {
    /* menu contextual */
    background-image: none;
    background-color: $menu_bg_color;
/*
    background-image: -gtk-gradient(radial,
                                       1.00 0.50, 0.30,
                                          0.50 0.00, 1.10,
                                       from(shade($menu_bg_color, 1.25)),
                                          to(shade($menu_bg_color, 0.95)));
*/
    padding: 2px 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: shade($menu_bg_color, 0.97);
    border-image:     none;

}

/*
GtkTreeMenu.menu,
GtkMenuToolButton.menu,
Genericmenuitem .menu,
*/
.toolbar .raised .menu,
DbusmenuGtkMenu GtkMenu,
DbusmenuGtkMenu.menu,
.toolbar .primary-toolbar .menu,
.primary-toolbar .button .menu,
.primary-toolbar .menu,
.menubar .menu {
    /* menu-dark en menubar */
    background-image: none;
    background-color: shade($menu_bg_dark_color, 1.00);
    /* background-image: -gtk-gradient(radial,
                                       1.00 0.50, 0.30,
                                          0.50 0.00, 1.10,
                                       from(shade($menu_bg_dark_color, 1.25)),
                                          to(shade($menu_bg_dark_color, 0.95))); */

    padding: 2px 0px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;

    border-color: shade($menu_bg_dark_color, 0.97);
    border-image:     none;
}

.menu:selected {
    background-color: $theme_selected_bg_color;
}

.menubar .menu.button:hover,
.menubar .menu.button:active,
.menubar .menu.button:active:insensitive,
.menubar .menu.button:insensitive,
.menubar .menu.button,
.primary-toolbar .menu.button:hover,
.primary-toolbar .menu.button:active,
.primary-toolbar .menu.button:active:insensitive,
.primary-toolbar .menu.button:insensitive,
.primary-toolbar .menu.button {
    background-color: shade($menu_bg_dark_color, 1.07);
    background-image: none;
    border-radius: 0;
    border-style: none;
    border-width: 1px;

    border-image: none;
    box-shadow: none;

}

.menu.button {
    padding: 0px;
    background-image: none;
    background-color: shade($menu_bg_color, 0.95);
    color: mix($menu_fg_color, $menu_bg_color, 0.4);
    box-shadow: none;
    border-image: none;
    border-style: none;
}

/***********
 * menubar *
 ***********/
.menubar {
    -GtkWidget-window-dragging: true;

    background-color: shade($theme_bg_dark_color, 1.00);
    color: $menu_fg_dark_color;

    /* linea 3D  (oscura) */
    box-shadow: inset  0px -1px shade($theme_bg_dark_color, 0.85);

    /* linea 3D (clara) */
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-radius: 0px;
    border-bottom-color:  shade($theme_bg_dark_color, 1.07);
}

/***************
 * menubaritem *
 ***************/
.menubar.menuitem {
    border-radius: 0px;
    border-width: 1px 1px 0 1px;

}

/************
 * menuitem *
 ************/
.menuitem {
    /* contextual menu-item */
    -GtkMenuItem-arrow-scaling: 0.7;
    border-radius: 0px;
    padding: 3px 4px;

    color: $menu_fg_color;
    text-shadow: 0px 1px $menu_shadow_color;
}

.toolbar.menubar .button .menuitem *,
.toolbar .menuitem * {
/* Arregla cambio de altura en menu item nautilus view options */
    padding: 0px;
    border-width: 0px;
}

Genericmenuitem .menuitem,
DbusmenuGtkMenu .menuitem,
.menubar .menuitem,
.toolbar .menuitem,
.toolbar .raised .button .menuitem GtkLabel,
.primary-toolbar .menuitem {
    /* dark menu-item */
    color: shade($menu_fg_dark_color, 0.90);
    text-shadow: 0px 1px $menu_shadow_dark_color;
}

/*
GtkTreeMenu.menu {
    background-color: $menu_bg_color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: shade($menu_bg_color, 0.97);
    border-image:     none;

}
*/
GtkTreeMenu .menuitem {
    padding: 2px 4px;
    border-style: none;
    border-width: 0px;
}

/* Workaround for lp:949368 */
GtkComboBox .menuitem * {
    color: $menu_fg_color;
    text-shadow: 0px 1px $menu_shadow_color;
}
GtkComboBox .menuitem *:hover {
    color: $theme_selected_fg_color;
       text-shadow: 0px 1px $theme_selected_shadow_color;
}

.menuitem:hover,
.menu .menuitem:hover {
    /* contextual menu item-selected */
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from(shade($theme_selected_bg_color, 1.0)),
                                     to(shade($theme_selected_bg_color, 1.1)));

    color: $theme_selected_fg_color;
       text-shadow: 0px 1px $theme_selected_shadow_color;
/*
    -unico-bullet-color: $theme_selected_fg_color;
*/
}

.toolbar .menuitem:hover,
Genericmenuitem .menuitem:hover,
DbusmenuGtkMenu .menuitem:hover,
.primary-toolbar .menuitem:hover,
.menubar.menuitem:hover,
.menubar .menuitem:hover {
    /* dark menu item-selected */
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from(shade($theme_selected_bg_color, 0.9)),
                                     to(shade($theme_selected_bg_color, 1.0)));

    color: $theme_selected_fg_color;
    text-shadow: 0px 1px $theme_selected_shadow_color;
/*
    -unico-bullet-color: $theme_selected_fg_color;
*/
    border-image: none;
}

.primary-toolbar .toolbar .button .menuitem *:hover,
.primary-toolbar.toolbar .button .menuitem *:hover,
.toolbar .raised .button .menuitem *:hover, /* menuitem opciones visualizacion nautilus  */
.toolbar.menubar .button .menuitem *:hover,
.menuitem *:active,
.menuitem *:prelight,
.menuitem *:hover {
    /* color: $menu_fg_color; */
    color: $theme_selected_fg_color;
       text-shadow: 0px 1px $theme_selected_shadow_color;
}

.menuitem.check,
.menuitem.radio,
.menuitem.check:hover,
.menuitem.radio:hover {
    border-width: 0px;
    border-style: none;
    background-image: none;
    /* background-color: $menu_bg_color; */
}

.menuitem.check:active,
.menuitem.radio:active {
    border-width: 0px;
    border-style: none;
    background-image: none;
    background-color: $menu_bg_color;
    /* contextual menu check */
    color: $theme_fg_color;
}

Genericmenuitem .menuitem.check:active,
Genericmenuitem .menuitem.radio:active,
DbusmenuGtkMenu .menuitem.check:active,
DbusmenuGtkMenu .menuitem.radio:active,
.menubar .menuitem.check:active,
.menubar .menuitem.radio:active,
.primary-toolbar .menuitem.check:active,
.primary-toolbar .menuitem.radio:active {
    border-color: $menu_fg_dark_color;
    color: $menu_fg_dark_color;
}

.menuitem.check:active:hover,
.menuitem.radio:active:hover {
    border-color: $theme_selected_fg_color;
    color: $theme_selected_fg_color;
}

/* menuitem.chek de opciones visualizacion nautilus 3.6  */
.toolbar .raised .button .menuitem.check:active:hover,
.toolbar .raised .button .menuitem.radio:active:hover {
    border-color: $theme_selected_fg_color;
    color: $theme_selected_fg_color;
}

.menuitem:insensitive,
.menuitem *:insensitive {
    /* contextual menu insensitive */
    color: mix($menu_fg_color, $menu_bg_color, 0.4);
    text-shadow: none;
}

Genericmenuitem .menuitem:insensitive,
Genericmenuitem .menuitem *:insensitive,
DbusmenuGtkMenu .menuitem:insensitive,
DbusmenuGtkMenu .menuitem *:insensitive,
.menubar .menuitem:insensitive,
.menubar .menuitem *:insensitive,
.primary-toolbar .menuitem:insensitive,
.primary-toolbar .menuitem *:insensitive {
    /* dark menu insensitive */
    color: mix($menu_fg_dark_color, $menu_bg_dark_color, 0.40);
    text-shadow: none;
}

.menubar .menuitem GtkCalendar,
.menubar .menuitem GtkCalendar.button,
.menubar .menuitem GtkCalendar.header,
.menubar .menuitem GtkCalendar.view,
.primary-toolbar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar.button,
.primary-toolbar .menuitem GtkCalendar.header,
.primary-toolbar .menuitem GtkCalendar.view {
    background-color: $menu_bg_dark_color;
    background-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    padding: 0;

    color: $menu_fg_dark_color;
}

.menubar .menuitem GtkCalendar,
.primary-toolbar .menuitem GtkCalendar {
    background-color: shade($menu_bg_dark_color, 1.3);
    background-image: none;
}

.menubar .menuitem .entry,
.primary-toolbar .menuitem .entry {
    background-color: shade($menu_bg_dark_color, 1.3);
    background-image: none;

    color: $menu_fg_dark_color;

    border-image: -gtk-gradient(linear, left top, left bottom,
                                           from(shade($menu_bg_dark_color, 0.9)),
                                           to(shade($menu_bg_dark_color, 0.9))) 1;
/*
    -unico-outer-stroke-gradient: -gtk-gradient(linear, left top, left bottom,
                                                 from(shade($menu_bg_dark_color, 0.98)),
                                                 to(shade($menu_bg_dark_color, 1.1)));*/
}

.menubar .menuitem GtkScale.trough {
    background-image: -gtk-gradient(linear,
                     left top,
                     left bottom,
                     from(shade($menu_bg_dark_color, 0.80)),
                     color-stop(0.20, shade($menu_bg_dark_color, 0.85)),
                     to(shade($menu_bg_dark_color, 0.96)));

    border-style: none;
    border-width: 0px;
    border-radius: 8px;
    box-shadow: inset  1px  1px alpha(#000, 0.08),
                inset -1px -1px alpha(#000, 0.08);
}

Genericmenuitem .menuitem .accelerator,
DbusmenuGtkMenu .menuitem .accelerator,
.menubar .menuitem .accelerator,
.primary-toolbar .menuitem .accelerator {
    color: alpha($menu_fg_dark_color, 0.8);
}

Genericmenuitem .menuitem .accelerator:hover,
DbusmenuGtkMenu .menuitem .accelerator:hover,
.menubar .menuitem .accelerator:hover,
.primary-toolbar .menuitem .accelerator:hover {
    color: alpha($theme_selected_fg_color, 0.8);
}

Genericmenuitem .menuitem .accelerator:insensitive,
DbusmenuGtkMenu .menuitem .accelerator:insensitive,
.menubar .menuitem .accelerator:insensitive,
.primary-toolbar .menuitem .accelerator:insensitive {
    color: alpha(mix($menu_fg_dark_color, $menu_bg_dark_color, 0.4), 0.8);
    text-shadow: none;
}

.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;

    /* border-color: shade($menu_bg_color, 0.90);
    -unico-inner-stroke-color: alpha(shade($menu_bg_color, 1.18), 0.6); */

    border-image: -gtk-gradient(linear,
                            left top, right top,
                            from(alpha(#000, 0.00)),
                            color-stop(0.25, alpha(#000, 0.05)),
                            color-stop(0.85, alpha(#000, 0.05)),
                            to(alpha(#000, 0.00))) 1;

}
/***************
 * Menu Button *
 ***************/
.button.menuitem.menubar:active,
.button.menuitem.menubar *:active {
    color: $menu_fg_color;
    background-image: none;
    background-color: $menu_bg_color;

    border-radius: 5px 5px 0px 0px;
    border-image: none;
    border-width: 1px 1px 0px 1px;
    border-color: shade($button_border, 1.30);
    border-style: solid;
}
