/*************************************
   unity apps settings (globalmenu)
*************************************/

TerminalWindow .notebook tab {
    padding: 0px 4px;

    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 1.00)),
                                     to(shade($theme_bg_dark_color, 0.94)));
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-image: none;

    border-top-color:         shade($theme_bg_dark_color, 1.00);
    border-left-color:         shade($theme_bg_dark_color, 0.94);
    border-right-color:     shade($theme_bg_dark_color, 0.94);
    border-bottom-color:     shade($theme_mdi_border_color, 1.05);

    box-shadow:    inset  1px  0px alpha(#fff, 0.05),
                inset -1px  0px alpha(#fff, 0.05);
}

GeditWindow GtkPaned {
    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 0.94)),
                                     to(shade($theme_bg_dark_color, 0.90)));

    box-shadow:    inset  0px  2px shade($theme_highlight_color, 1.00),
                inset  0px  1px shade($theme_bg_dark_color, 0.80);
}
/*
GeditWindow .notebook tab {
    padding: 2px 4px;

    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 0.96)),
                                     to(shade($theme_bg_dark_color, 0.94)));

    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-top-color:         $theme_mdi_border_color;
    border-left-color:         $theme_mdi_border_color;
    border-bottom-color:     $theme_mdi_border_color;
    border-right-color:     $theme_mdi_border_color;
    border-image: none;

    box-shadow:    inset  0px  1px alpha(#fff, 0.07),
                inset  1px  0px alpha(#fff, 0.07),
                inset -1px  0px alpha(#fff, 0.07);

}
*/
GeditWindow .primary-toolbar.toolbar {
    /* linea 3D  (oscura) */
    /*box-shadow: inset  0px -1px shade($theme_bg_dark_color, 0.33);  */
    box-shadow: none;

    /* linea 3D (clara) */
    /* border-bottom-color:  shade($theme_bg_dark_color, 0.61); */
    border-bottom-width:  0px;

}

RemminaMain .toolbar {
    background-image: -gtk-gradient(linear,
                                     left top, left bottom,
                                     from(shade($theme_bg_dark_color, 1.00)),
                                     to(shade($theme_bg_dark_color, 0.94)));

    border-bottom-color:  shade($theme_bg_dark_color, 0.73);
    border-image: none;
}
