/* Default color scheme */
$base_color: #fcfcfc;
$bg_color: #eaeaea;
$text_color: #282828;
$fg_color: #323232;
$selected_bg_color: #4d6e92;
$selected_fg_color: #fff;
$tooltip_bg_color: #040404;
$tooltip_fg_color: #fff;

/* Colormap actually used by the theme, to be overridden in other css files */
$theme_base_color: $base_color;
$theme_bg_color: $bg_color;
$theme_text_color: $text_color;
$theme_fg_color: $fg_color;
$theme_shadow_color: alpha(#fff, 0.22);
$theme_selected_bg_color: shade($selected_bg_color, 1.00);
$theme_selected_fg_color: $selected_fg_color;
$theme_selected_shadow_color: alpha(#000, 0.12);
$theme_tooltip_bg_color: $tooltip_bg_color;
$theme_tooltip_fg_color: $tooltip_fg_color;

$menu_bg_color: shade($theme_bg_color, 1.06);
$menu_fg_color: shade($theme_fg_color, 1.00);
$menu_shadow_color: $theme_shadow_color;

/**********************[Mediterranean-Night-Darkest]***********************/
$theme_bg_dark_color: #383838;
$theme_fg_dark_color: #c0c0c0;
$theme_text_dark_color: #dddddd;
$theme_shadow_dark_color: alpha(#000, 0.30);
$theme_highlight_color: alpha(#fff, 0.05);
$theme_button_border_dark: shade($theme_bg_dark_color, 0.68);
$theme_entry_border_dark: $theme_button_border_dark;
$theme_path_bg_color: shade($theme_bg_dark_color, 0.90);
$theme_path_active_color: shade($theme_bg_dark_color, 0.78);
$theme_tab_dark_active1: shade($theme_bg_dark_color, 0.80);
$theme_tab_dark_active2: shade($theme_tab_dark_active1, 1.80);
$theme_mdi_border_color: shade($theme_bg_dark_color, 0.70);

$menu_bg_dark_color: shade($theme_bg_dark_color, 0.95);
$menu_fg_dark_color: shade($theme_fg_dark_color, 1.00);
$menu_shadow_dark_color: alpha(#000, 0.30);
$menu_line_dark_color: shade($theme_bg_dark_color, 0.78);
$menu_line_light_color: shade($theme_bg_dark_color, 1.12);
/**************************************************************************/

$theme_tab_active1: shade($theme_base_color, 0.80);
$theme_tab_active2: shade($theme_base_color, 1.00);

$button_raised_gradient_color_a: shade($theme_bg_dark_color, 1.10);
$button_raised_gradient_color_b: shade($theme_bg_dark_color, 0.90);
$button_raised_linked_shadow: alpha($theme_base_color, 0.70);

$link_color: shade(#4a90d9, 0.20);
$frame_color: #808080;
$inactive_frame_color: #bbbbbb;
$warning_color: #f57900;
$error_color: #cc0000;
$success_color: #4e9a06;

$info_fg_color: rgb(181, 171, 156);
$info_bg_color: rgb(252, 252, 189);
$warning_fg_color: rgb(173, 120, 41);
$warning_bg_color: rgb(250, 173, 61);
$question_fg_color: rgb(97, 122, 214);
$question_bg_color: rgb(138, 173, 212);
$error_fg_color: rgb(106, 18, 18);
$error_bg_color: rgb(240, 54, 54);

$os_chrome_bg_color: $theme_bg_dark_color;
$os_chrome_fg_color: $theme_fg_dark_color;

$os_chrome_selected_bg_color: $theme_selected_bg_color;
$os_chrome_selected_fg_color: $theme_selected_fg_color;

$chrome_bg_color: $theme_bg_color;
$chrome_fg_color: $theme_fg_color;

$entry_text_color: $theme_text_color;
$focused_entry_border: mix($theme_selected_bg_color, $theme_bg_color, 0.40);
$focused_entry_outer: alpha(shade($theme_selected_bg_color, 1.50), 0.45);

$entry_text_dark_color: $theme_text_color;
$entry_bg_dark_color: shade($theme_base_color, 0.88);
$focused_dark_entry_border: shade(mix($theme_bg_color, $theme_selected_bg_color, 0.50), 0.45);
$focused_dark_entry_outer: alpha(mix($theme_selected_bg_color, #37d, 0.60), 0.80);

$focused_entry_inset: alpha(#d7e4f1, 0.50);

/* $sidebar_background: shade(#e1e5e8, 0.95); */
$sidebar_background: #d5dade;
$sidebar_icon: shade(#e1e5e8, 0.55);
$sidebar_selected_bg: shade($theme_selected_bg_color,0.90);
$sidebar_fg_color: $theme_text_color;

$button_base: $theme_base_color;
$button_gradient1: shade($button_base, 0.98);
$button_gradient2: shade($button_base, 0.95);
$button_gradient3: shade($button_base, 0.92);
$button_gradient4: shade($button_base, 0.89);
$button_bg_active: shade($theme_selected_bg_color, 1.25);
$button_border: shade($theme_bg_color, 0.73);
$button_border_active: shade($button_bg_active, 0.95);

$insensitive_bg_color: shade($bg_color, 0.93);
$insensitive_fg_color: shade($bg_color, 0.70);
$insensitive_border_color: shade($bg_color, 0.80);

$trough_bg_color_a: shade($theme_bg_color, 0.88);
$trough_bg_color_b: shade($theme_bg_color, 0.95);

$internal_element_color: #646464;
$internal_element_prelight: $theme_text_color;
$internal_element_insensitive: shade($internal_element_color, 1.4);

$scale_fill: shade($button_bg_active, 1.00);
$scale_border_a: $internal_element_color;
$scale_border_b: shade($internal_element_color, 1.25);

$progressbar_fill_a: $button_bg_active;
$progressbar_fill_b: shade(mix($button_bg_active, green, 0.10), 1.10);

$highlighted_border: #8f8f8f;
$transparent: alpha(#000, 0.0);

$notebook_border: shade($theme_bg_color, 0.75);

/* $toolbar_gradient_base: shade(mix(#d5dade, $theme_bg_dark_color, 0.75), 0.92); */
$toolbar_gradient_base: shade($theme_bg_dark_color, 1.00);
$toolbar_fg_color: shade($theme_fg_dark_color, 1.00);
$toolbar_shadow_color: $theme_shadow_dark_color;
$toolbar_border_color: $theme_button_border_dark;
$toolbar_active_button_color: #909081;

$nautilus_cluebar_color: shade($sidebar_background, 1.00);
$treeview_focus_border: $nautilus_cluebar_color;

$calc_display_fg_color: #fff;

$calendar_text_color: $theme_base_color;

$menu_tribute_color1: shade($menu_bg_dark_color, 1.15);
$menu_tribute_color2: shade($menu_bg_dark_color, 0.95);

$expander_row_selected_color: #FFF;
$test: #f00;

/*******
 * OSD *
 *******/
$osd_highlight: #fff;
$osd_lowlight: #525252;
$osd_base: #212526;

$osd_fg: #ededed;
$osd_bg: alpha($osd_base, 0.80);

$osd_bg_backdrop: alpha(shade($osd_base, 1.40), 0.90);

$osd_text_shadow: alpha(black, 0.75);

$osd_toolbar_bg_a: alpha($osd_base, 0.80);
$osd_toolbar_bg_b: alpha(#101010, 0.80);
$osd_toolbar_bg_c: alpha(shade($osd_base, 1.02), 0.80);

$osd_button_bg_a: alpha($osd_highlight, 0.16);
$osd_button_bg_b: alpha($osd_lowlight, 0.05);
$osd_button_bg_c: alpha($osd_highlight, 0.12);

$osd_button_bg_insensitive: alpha($osd_highlight, 0.25);
$osd_button_bg_insensitive_active: alpha($osd_highlight, 0.16);

$osd_button_bg_hover_a: alpha($osd_highlight, 0.28);
$osd_button_bg_hover_b: alpha($osd_lowlight, 0.14);
$osd_button_bg_hover_c: alpha($osd_highlight, 0.14);

$osd_button_bg_active_a: alpha($osd_lowlight, 0.18);
$osd_button_bg_active_b: alpha($osd_highlight, 0.23);
$osd_button_bg_active_c: alpha($osd_lowlight, 0.17);

$osd_button_bg_backdrop: alpha($osd_highlight, 0.18);
$osd_button_bg_backdrop_hover: alpha($osd_highlight, 0.25);
$osd_button_bg_backdrop_active: alpha($osd_highlight, 0.35);
$osd_button_bg_backdrop_insensitive: alpha($osd_highlight, 0.08);

$osd_button_fg_backdrop: shade($osd_fg, 0.70);
$osd_button_fg_backdrop_active: shade($osd_fg, 0.95);

$osd_button_fg: shade($osd_fg, 0.80);
$osd_button_fg_hover: shade($osd_fg, 0.96);
$osd_button_fg_active: shade($osd_fg, 1.10);
$osd_button_fg_insensitive: shade($osd_fg, 0.70);

$osd_button_border: alpha($osd_highlight, 0.40);
$osd_button_inset: shade($osd_fg, 0.67);
$osd_button_shadow: alpha(black, 0.35);

$osd_trough_bg: alpha($osd_button_fg, 0.10);

/* Metacity No modificar! */
$wm_highlight: #fff;
$wm_title_highlight: #fff;

$wm_bg_a: shade($bg_color, 1.1);
$wm_bg_b: $bg_color;

$wm_button_bg_a: shade($bg_color, 1.0);
$wm_button_bg_b: shade($bg_color, 0.85);
$wm_button_bg_c: shade($bg_color, 0.8);
$wm_button_bg_d: shade($bg_color, 0.9);

$wm_button_bg_hover_a: shade($wm_button_bg_a, 1.1);
$wm_button_bg_hover_b: shade($wm_button_bg_b, 1.1);
$wm_button_bg_hover_c: shade($wm_button_bg_c, 1.1);
$wm_button_bg_hover_d: shade($wm_button_bg_d, 1.1);

$wm_button_bg_active_a: shade($bg_color, 0.7);
$wm_button_bg_active_b: shade($bg_color, 0.9);
$wm_button_bg_active_c: shade($bg_color, 0.9);
