$scale_progress_fill: #f00;
$notebook_tab_gradient_a: #f00;
$notebook_tab_gradient_b: #f00;

$theme_tab_bg_color: #f00;
$borders: #f00;

$unfocused_borders: #f00;
$theme_unfocused_bg_color: #f00;

$wm_title_shadow: #f00;
$wm_title: #f00;
$wm_unfocused_dark_title: #f00;

$button_hover_gradient_color_a: #f00;
$button_hover_gradient_color_b: #f00;
$menu_separator: #f00;
