$scale_progress_fill: #00f;

$notebook_tab_gradient_b: #0f0;

$wm_title_shadow: #0ff;
$wm_title: #f00;
$wm_unfocused_dark_title: #f0f;

$button_hover_gradient_color_a: #ff0;
$button_hover_gradient_color_b: #080;

$menu_separator: #808;
