/* Undefined variables found during porting to sass process */
$scale_progress_fill: #00f;

$notebook_tab_gradient_b: #0f0;

$button_hover_gradient_color_a: #ff0;
$button_hover_gradient_color_b: #080;

$menu_separator: #808;
