#!/usr/bin/make -f

PKGBASEDIR=debian/mediterranean-gtk-themes

%:
	dh $@

override_dh_install:
	dh_install
	find $(PKGBASEDIR) -name ".gitignore" -delete
	find $(PKGBASEDIR) -iname "license" -delete
	find $(PKGBASEDIR)/usr/share/themes -type f -print0 | xargs -0 chmod 644
	rdfind -outputname /dev/null -makesymlinks true $(PKGBASEDIR)/usr/share/themes
	symlinks -s -c -v -r $(PKGBASEDIR)/usr/share/themes
