#!/usr/bin/make -f

PKGBASEDIR=debian/mediterranean-gtk-themes

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	find $(PKGBASEDIR) -name ".gitignore" -delete
	find $(PKGBASEDIR) -iname "license" -delete
